.app-component-container {
  display: flex;
  position: relative;
}
@media(max-width: 767px) {
  .app-component-button {
    fill: var(--dl-color-gray-white);
    color: var(--dl-color-gray-white);
    width: 321px;
    height: 52px;
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    background-color: #1461bb;
  }
}
@media(max-width: 479px) {
  .app-component-button {
    width: 310px;
    height: var(--dl-size-size-small);
  }
}
